[submodule "/Users/bahuvrihi/Documents/Gems/thinkerbot.github.com/_project/projects/shell_test"]
	path = /Users/bahuvrihi/Documents/Gems/thinkerbot.github.com/_project/projects/shell_test
	url = git@github.com:thinkerbot/shell_test.git
